/* CSS for Blake Stickland Portfolio */

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

.flex-container {
  display: flex;
  background-color: rgb(29, 29, 29);
  border: 2px dotted rgb(240, 236, 236);
  height: 600px;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
.flex-item {
  background-color: #3a3a3a;
  border: 2px solid rgb(252, 252, 252);
  width: 100px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

body {
  background-color: rgb(77, 199, 250);
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}

.bg {
  /* The image used */
  background-image: src("https://img.freepik.com/free-photo/gray-wall-textures-background_74190-4389.jpg?size=626&ext=jpg");
  /* background-image: url("../Images/inflicted_@2X.png"); */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/* TEST NEW LOOK PAGE */
.diagonal-box-1 {
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  transform: skewY(61deg);
  z-index: 3;
}

.content-1 {
  max-width: 5em;
  margin: 0 auto;
  transform: skewY(-61deg);
}

/* TEST NEW LOOK PAGE */ 

.top-navigation {
  border-bottom: 1px solid #228af9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', 'Roboto', sans-serif;
  font-weight: bold;
}

#navBrand {
  padding: 16px;
  position: static;
  float: left;
}

.bgGreen {
  background-color:  #228af9;
}

.textGreen {
  color:  #228af9;  
}

.portfolioLink {
  position: absolute;
  z-index: 10;
  bottom: 4rem;

}

.container-bottom {
  margin-bottom:52px!important;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid #228af9 ;
  background-color: #f8f9fa;
}

.footer span {
  color: #9b9b9b;
}

nav {
  background-color: #228af9 ;
}

ul li {
  color: #632f2f;
}

ul a {
  color: #fa0909;
}

.verticalLine { 
  border-left: 2px solid #e9e8e8; 
}

.bottomBorder {
  border-bottom: 2px solid rgb(146, 142, 142);
}

.card {
  height: 100%;
}

.card-img-border {
  border: 1px solid rgb(204, 203, 203);
}

.card-img-dimensions {
  height: 13rem;
  width: 100%;
}
/*
  These rules take effect when the browser's width
  is either 640px or less.
*/

@media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    body {
      background-color: rgb(51, 51, 51);
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
      display: block;
    }

    .about-img {
      width: 100%;
      align-items: center;
      background-color: #ffffff;
    }
    
  }

  @media screen and (max-width: 767px) {
    .card-img-dimensions {
      width:100%;
      height: 22rem;
    }
  }
